#root {
  background-color: yellow;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #db5454;
  color: aliceblue;
  border-radius: 80px;
  width: 500px;
}

.cont:hover {
  background-color: #e9f238;
  color: black;
}

.label {
  margin-top: 15px;
  font-size: large;
  font-weight: 600;
}

.form {
  padding: 8px;
  width: 300px;
}

.button {
  margin: 15px;
}
